<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List by title</title>
</head>
    <!-- <body th:object="${books}"> -->
        This is a list by title
        <!-- <p><img th:src="*{image}" class="thumbnail"></p> -->
        <p>Title: <span th:text="*{title}"></span></p>
        <!-- <p>Author: <span th:text="*{author}"></span></p> -->
    </body>
</html>